/* Landing Page Style */
body {
    background-color: rgb(237,237,237);
}
/* Menu Nav */
.menu-wrapper ul,
.menu-wrapper li {
    display: inline-block;
    float: right;
    padding-right: 20px;
    margin-top: 30px;
}
.menu-padding {
     margin-right: 20px;
}
/* Typefaces Styles */
h1 {
    font-family: "Roboto", font-weight: 700;
    font-size: 36px;
    color: #B2B2B2;
}
h2,
.menu-wrapper {
    font-family: "Roboto";
    font-size: 24px;
    color: #AC162C;
}
p {
    font-family: "Roboto";
    font-size: 16px;
    color: #575756;
    padding: 40px 40px;
}
.title-line01 {
    font-family: "Roboto", font-weight: 700;
    font-size: 51.5px;
    color: #B2B2B2;
}
.title-line02 {
    font-family: "Roboto", font-weight: 700;
    font-size: 55.2px;
    color: #B2B2B2;
    margin-left: 15px
}
.title-line03 {
    font-family: "Roboto";
    font-size: 26px;
    color: #575756;
}
.date {
    font-size: 42px;
    margin-top: 60px;
}
.place {
    margin-top: 20px;
    padding-bottom: 20px;
}
.storyline {
    font-size: 19px;
    line-height: 36px;
    padding-bottom: 80px;
}
/* Globe Illustration */
.globe-wrapper {
     text-align: center;
}
.globe {
     margin: 0 auto;
     text-align: center;
}
/* Title */
.title {
    margin: 0 auto;
    text-align: center;
}
/* Frame */
html:before,html:after,body:before,body:after{
    content:"";
    background:#fff;
    position:fixed;
    display:block;
    z-index:5;
}
html:before{
    height:20px;
    left:0;
    right:0;
    top:0;
}
html:after{
    width:20px;
    top:0;
    right:0;
    bottom:0;
}
body:before{
    height:20px;
    right:0;
    bottom:0;
    left:0;
}
body:after{
    width:20px;
    top:0;
    bottom:0;
    left:0;
}
/* Buttons */
.red-button {
     color: #AC162C;
     -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
     transition-duration: 0.3s;
}
.red-button:hover {
     color: #64090A;
     text-decoration: none;
}
.red-button:focus,
.red-button:active {
     color: #AC162C;
     text-decoration: none;
}
/* Bootstrap */
/*
@media (max-width: 1200px) {
     .title {
     	width: 90%;
     }
}
@media (max-width: 992px) {
     .title {
     	width: 90%;
     }
}
*/
@media (max-width: 768px) {
     .globe {
     	width: 60%;
          width: 70%
     }
     .title-line01 {
          font-size: 6vw;
     }
     .title-line02{
          font-size: 6.42vw;
     }
     .title-line03 {
     	font-size: 3vw;
     }
     .storyline {
          font-size: 16px;
          line-height: 24px;
          padding: 20px;
     }
     html:before{
         height:15px;
     }
     html:after{
         width:15px;
     }
     body:before{
         height:15px;
     }
     body:after{
         width:15px;
     }
}
@media (max-width: 400px) {
     .globe {
     	width: 60%;
          height: 90%;
     }
     .title-line01 {
          font-size: 7vw;
     }
     .title-line02{
          font-size: 7.5vw;
          margin: 0 0 0 8px;
     }
     .title-line03 {
     	font-size: 3.55vw;
          margin: 0 0 0 2px;
     }
}
