/* Frame */
html:before,html:after,body:before,body:after{
    content:"";
    background:#fff;
    position:fixed;
    display:block;
    z-index:5;
}
html:before{
    height:20px;
    left:0;
    right:0;
    top:0;
}
html:after{
    width:20px;
    top:0;
    right:0;
    bottom:0;
}
body:before{
    height:20px;
    right:0;
    bottom:0;
    left:0;
}
body:after{
    width:20px;
    top:0;
    bottom:0;
    left:0;
}
/* Landing Page Style */
body {
    background-color: #ededed;
}
/* Buttons */
.red-button {
     color: #AC162C;
     -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
     transition-duration: 0.3s;
}
.red-button:hover {
     color: #64090A;
     text-decoration: none;
}
.red-button:focus,
.red-button:active {
     color: #AC162C;
     text-decoration: none;
}
/* Typefaces Styles */
h1 {
    font-family: "Roboto", font-weight: 700;
    -webkit-font-smoothing: antialiased;
    font-size: 36px;
    color: #B2B2B2;
}
h2,
.menu-wrapper {
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-size: 24px;
    color: #AC162C;
}
h3 {
     font-family: "Roboto", font-weight: 700;
     -webkit-font-smoothing: antialiased;
     font-size: 18px;
     color: #575756;
}
.title-line01 {
    font-family: "Roboto", font-weight: 700;
    -webkit-font-smoothing: antialiased;
    font-size: 51.5px;
    color: #B2B2B2;
}
.title-line02 {
    font-family: "Roboto", font-weight: 700;
    -webkit-font-smoothing: antialiased;
    font-size: 55.5px;
    color: #B2B2B2;
    vertical-align: super;
    margin-left: 19px;
}
.title-line03 {
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    font-size: 24.3px;
    color: #575756;
    font-weight: 300;
    vertical-align: text-top;
    margin-left: 2px;
}
.date {
    font-size: 42px;
    margin-top: 60px;
    font-weight: 300;
}
.place {
    margin-top: 20px;
    margin-bottom: 60px;
    font-weight: 300;
}
.section-title {
    padding: 40px 0 40px 0;
}
p {
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #575756;
    padding: 40px 40px;
}
.storyline {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    padding: 20px 25px 0px 25px;

}
.storyline-title {
    font-size: 24px;
    line-height: 30px;
    padding: 20px 25px 0 25px;
    font-weight: 700;
}
.speakers-name {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 0 20px 0 20px;
}
.speakers-caption {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 10px 10px 40px 10px;
}
/* Hamburger Menu */
body{
     font-family: "Roboto", font-weight: 100;
     letter-spacing: 0.1em;
     font-weight: 100;
     margin: 0 auto;
}
header{
	width:100%;
	background: #ededed;
	height:50px;
	line-height:50px;
}
.hamburger{
  background:none;
  position:fixed;
  top:0;
  right:0;
  line-height:45px;
  padding:22px 35px 0px 80px;
  color:#AC162C;
  border:0;
  font-size:2em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:fixed;
  top:0px;
  right:0;
  padding:20px 40px 0px 80px;
  color:#AC162C;
  border:0;
  font-size:4em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu {
    z-index: 4;
    font-size: 3.5em;
    width: 100%;
    height: 300%;
    background: #fff;
    opacity: 0.8;
    position: fixed;
    margin: 0 auto;
    text-align: center;
}
.menu ul {
    margin: 40px 0 0 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
.menu li {
    display: block;
    padding: 35px 0 35px 0;
}
.menu li:hover {
    display: block;
    background: #fff;
    padding: 35px 0 35px 0;
}
.menu ul li a {
    text-decoration: none;
    margin: 0px;
    color: #B2B2B2;
}
.menu ul li a:hover {
    color: #B2B2B2;
    text-decoration: none;
}
.menu a {
    text-decoration: none;
    color: #575756;
}
.menu a:hover {
    text-decoration: none;
    color: #AC162C;
    font-weight: 300;
}
.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
/* Globe Illustration */
.globe-wrapper {
     text-align: center;
     margin-bottom: 20px;
}
.globe {
     margin: 0 auto;
     text-align: center;
}
/* Title */
.title {
    margin: 0 auto;
    text-align: center;
    margin-top: -20px;
}
/* Speakers Section */
.speakers-row {
    margin-left: -90px;
}
.speakers-row-margin-small {
    margin-top: 20px;
}
/* Program Section */
.program-link {
    padding-top: 0px;
    margin-left: 10px;
    margin-bottom: 60px;
    font-weight: 300;
}
.program-link-wrapper {
    margin: 20px 0 40px 0;
}
/* Contact Us Section */
.chair-caption {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 0.05em;
    padding: 10px 0 10px 25px;

}
/* Layout */
.padding-bottom {
    padding-bottom: 40px;
}
.padding-ending-page {
    padding-bottom: 100px;
}
/* Bootstrap */
/*
@media (max-width: 1200px) {
     .title {
     	width: 90%;
     }
}
@media (max-width: 992px) {
     .title {
     	width: 90%;
     }
}
*/


@media (max-width: 768px) {
    html:before{
        height:15px;
    }
    html:after{
        width:15px;
    }
    body:before{
        height:15px;
    }
    body:after{
        width:15px;
    }
    .globe {
       width: 60%;
         width: 70%
    }
    .title-line01 {
         font-size: 6vw;
    }
    .title-line02{
         font-size: 6.42vw;
    }
    .title-line03 {
       font-size: 3vw;
    }
    .storyline {
         font-size: 16px;
         line-height: 24px;
         padding: 20px;
    }

}
@media (max-width: 415px) {
    html:before{
        height:15px;
    }
    html:after{
        width:15px;
    }
    body:before{
        height:15px;
    }
    body:after{
        width:15px;
    }
    .globe {
       width: 60%;
       height: 70%;
       padding-bottom: 10px;
    }
    .title-line01 {
         font-size: 7vw;
    }
    .title-line02{
         font-size: 7.6vw;
         margin: 0 0 0 10px;
    }
    .title-line03 {
         font-size: 3.1vw;
         margin: 0 1px 0 0;
    }
    .date {
        display: block;
        font-size: 30px;
        font-weight: 300;
        margin-left: 25px;
        margin-top: 20px;
    }
    .place {
        display: block;
        font-size: 18px;
        font-weight: 300;
        margin-left: 25px;
        margin-top: -10px;
        margin-bottom: 15px;
    }
    .section-title {
        padding: 20px 0 40px 0;
    }
    p {
        font-family: "Roboto";
        -webkit-font-smoothing: antialiased;
        font-size: 16px;
        color: #575756;
        padding: 40px 40px;
    }
    .storyline {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        padding: 20px 40px 0px 40px;

    }
    .storyline-title {
        font-size: 20px;
        line-height: 26px;
        padding: 20px 40px 0 40px;
        font-weight: 700;
    }
    .program-link {
        font-size: 20px;
        padding-top: 0px;
        margin-left: 10px;
        margin-bottom: 60px;
        font-weight: 300;
    }
    .program-link-wrapper {
        margin: 20px 0 40px 30px;
    }
    .chair-caption {
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        letter-spacing: 0.05em;
        padding: 10px 0 10px 40px;
    }
    .speakers-row {
        margin-left: 50px;
    }
    .speakers-name {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: 0.05em;
        margin-left: -45px;

    }
    .speakers-caption {
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        letter-spacing: 0.05em;
        margin-left: -45px;
    }
}
@media (max-width: 375px) {
    html:before{
        height:15px;
    }
    html:after{
        width:15px;
    }
    body:before{
        height:15px;
    }
    body:after{
        width:15px;
    }
    .globe {
       width: 50%;
       height: 60%;
       padding-bottom: 10px;
    }
    .title-line01 {
         font-size: 7vw;
    }
    .title-line02{
         font-size: 7.6vw;
         margin: 0 0 0 10px;
    }
    .title-line03 {
         font-size: 3.1vw;
         margin: 0 1px 0 0;
    }
    .date {
        display: block;
        font-size: 30px;

        font-weight: 300;
        margin-left: 25px;
    }
    .place {
        display: block;
        font-size: 18px;

        font-weight: 300;
        margin-left: 25px;
    }
    .section-title {
        padding: 20px 0 40px 0;
    }
    p {
        font-family: "Roboto";
        -webkit-font-smoothing: antialiased;
        font-size: 16px;
        color: #575756;
        padding: 40px 40px;
    }
    .storyline {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        padding: 20px 40px 0px 40px;

    }
    .storyline-title {
        font-size: 20px;
        line-height: 26px;
        padding: 20px 40px 0 40px;
        font-weight: 700;
    }
    .program-link {
        font-size: 20px;
        padding-top: 0px;
        margin-left: 10px;
        margin-bottom: 60px;
        font-weight: 300;
    }
    .program-link-wrapper {
        margin: 20px 0 40px 30px;
    }
    .chair-caption {
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        letter-spacing: 0.05em;
        padding: 10px 0 10px 40px;
    }
    .speakers-row {
        margin-left: 50px;
    }
    .speakers-name {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: 0.05em;
        margin-left: -45px;

    }
    .speakers-caption {
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        letter-spacing: 0.05em;
        margin-left: -45px;
    }
}
