/* Landing Page Style */
body {
    background-color: rgb(237,237,237);
}
/* Menu Nav */
.menu-wrapper ul,
.menu-wrapper li {
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 30px;
}
/* Typefaces Styles */
h1 {
    font-family: "Roboto", font-weight: 700;
    font-size: 36px;
    color: #B2B2B2;
}
h2,
.menu-wrapper {
    font-family: "Roboto";
    font-size: 24px;
    color: #AC162C;
}
p {
    font-family: "Roboto";
    font-size: 16px;
    color: #575756;
}
.title-line01 {
    font-family: "Roboto", font-weight: 700;
    font-size: 51.5px;
    color: #B2B2B2;
}
.title-line02 {
    font-family: "Roboto", font-weight: 700;
    font-size: 55.2px;
    color: #B2B2B2;
}
.title-line03 {
    font-family: "Roboto";
    font-size: 26px;
    color: #575756;
}
.date {
    font-size: 42px;
    margin-top: 100px;
}

/* Globe Illustration */
.globe {
    
}
/* Title */
.title {
    margin: 0 auto;
}
/* Frame */
html:before,html:after,body:before,body:after{
    content:"";
    background:#fff;
    position:fixed;
    display:block;
    z-index:5;
}
html:before{
    height:20px;
    left:0;
    right:0;
    top:0;
}
html:after{
    width:20px;
    top:0;
    right:0;
    bottom:0;
}
body:before{
    height:20px;
    right:0;
    bottom:0;
    left:0;
}
body:after{
    width:20px;
    top:0;
    bottom:0;
    left:0;
}



